<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="">Tai khoan</a></li>
        <li><a href="">Do An</a></li>
        <li><a href="">Nha hang</a></li>
        <li><a href="">Danh muc</a></li>
    </ul>
    <table>
        <tr>
            <th>Tên</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Mật khẩu</th>
            <th>Nhà Hàng</th>
            <th colspan="2"></th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Sửa</td>
            <td>Xóa</td>
        </tr>
    </table>
</body>
</html>